body{
    background-color: black;
    color: #f6f5f5;
}
img{
    width: 30%;
}
h1{
    background-color: blue;
}
p{
    background-color: red;
}
#p-1{
    background-color: aquamarine;
    
}
#p-2{
    background-color: rgb(255, 127, 142);
}



